.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add-to-cart img{
  width:80px;
  position: absolute;
  right:1%;
  top:1%;
}

.cart-count {
  position:absolute;
  right:50px;
  top:3px;
  z-index: 1;
  background-color: red;
  padding: 7px;
  width:20;
  height:20;
  border-radius: 50%;
  color: #fff;
}

.btn-wrapper button {
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  
}

button.remove-cart-btn {
  background-color: rebeccapurple;
  margin-top: 8px;
  font-size: 10px;
}

button:hover{
  box-shadow:#000 0px 1px 5px;
}

.cart-wrapper {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin-left: 10%;
}

.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 15px;
  height: 70px;
}

.img-wrapper img {
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
